
body {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 40px;
  line-height: 165%;
}

splash {
  margin-bottom: 30px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 15px;
}

h2 {
  margin-top: 25px;
  margin-bottom: 15px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

p{
  margin-left: 5px;
}

.highlight {
  margin-top: 15px;
  margin-bottom: 15px;
}

#menu {
  min-height: 800px;
  width: 180px;
}
@media (min-width: 1200px) {
  width: 200px;
}
@media (max-width: 979px) and (min-width: 768px) {
  #menu {
    width: 140px;
  }
}
@media (max-width: 768px) {
  #menu {
    min-height: 0px;
    border: none;
    position: static;
    width: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
}

#menu li.nav-header {
  color: #111;
  font-weight: normal;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 7px;
}
#menu li a {
  padding-top: 8px;
  padding-bottom: 8px;
}
#menu li a {
  color: #999;
  text-shadow: none;
}
#menu li.active a {
  background-color: #00699d;
  color: #fff;
}

